// src/scss/components/_nav.scss
@use "sass:map";
@use "sass:math";
@use "../colors" as colors;
@use "bootstrap/scss/bootstrap" as bs;

.nav-pills {
    --bs-nav-pills-link-active-bg: #{bs.$primary};
    --bs-nav-pills-link-active-color: #{bs.color-contrast(bs.$primary)};
}

// Dark mode adjustments
@include bs.color-mode(dark) {
    .nav-pills {
        --bs-nav-pills-link-active-bg: #{colors.$primary-dark};
        --bs-nav-pills-link-active-color: #{bs.color-contrast(colors.$primary-dark)};
    }
}
